<p></p>
<h1 style="text-align:center;padding:50px"><strong>Welcome to Request Box!</strong></h1>
<h3 style="text-align:center">Start by creating a box:</h3>

<form method="GET" action="/{{url}}/inspect">
  <div class="d-grid gap-2">
    <input class="btn btn-lg btn-primary" id="createBox" type="submit" value="Create a Box"></button>
  </div>
</form>
